
.cardContainer {
    color: rgb(255, 81, 0);
    background-color: rgb(0, 247, 255);
    box-shadow: 4px 4px 0px rgb(255, 81, 0);
    border: 3px solid rgb(255, 81, 0);
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
    font-family: 'Cute Font', cursive;
    width: 60%;
    margin: 5% auto;
}
.cardWord {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Cute Font', cursive;
}

.cardDefinition {
    font-size: 2rem;
    letter-spacing: 5px;
    padding:0;
    margin: 0;
    font-family: 'Cute Font', cursive;
}
