html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body {
  /* border: 20px solid lime;
    border-image: linear-gradient(35deg, rgb(47, 0, 255), rgb(255, 255, 255)) 1; */
  height: 100vh;
  background-image: url(./assets/backgroundImageNamer.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  caret-color: red;
}

.wrapper {
  width: 75%;
  margin: 15% auto;
  border: 2px solid lime;
  border-image: linear-gradient(45deg, rgb(1, 26, 255), rgb(224, 47, 255)) 1;
  box-shadow: linear-gradient(45deg, rgb(1, 26, 255), rgb(224, 47, 255)) 1;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgb(255, 255, 255) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(255, 255, 255) 1px, transparent 1px);
}
.container {
  margin-bottom: 10%;
}


@keyframes glitch {
  2% {
    transform: translate(2px, 0) skew(0deg);
  }

  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

div:before,
div:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

div:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 10%;
}

input {
  margin-bottom: 20px;
}
input:focus {
  border: 2px dotted rgb(255, 230, 0);
}
input::placeholder {
  color:white;
  opacity: 1;
}

label {
  font-family: "Cute Font", cursive;
  font-size: 2rem;
  color: rgb(1, 26, 255);
  background-color: black;
  color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 0px rgb(255, 255, 255);
  background: rgb(211, 99, 255);
  padding: 5px;
  width: 100%;
}


@media (max-width: 600px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
    border: none;
    border-image: none;
    background-image: none;
  }
}


@media (max-width: 490px) {
  form {
    width: 100%;
    margin: 0 auto;
    border: none;
    border-image: none;
  }

  p {
    padding: 15px 0;
    margin-top: 30px;
    font-size: 1rem;
  }
}

@media (min-width: 1450px) {
  form {
    width: 430px;
    padding-bottom: 5%;
  }
  input {
    width: 100%;
  }
}
